$white: #ffffff;
$black: #000000;
$primaryBlue: #0dc0e9;
$red: #FF0A0A;
$green: #3ECF52;
$inactiveGrey: #ccc;
$lightGrey: #e4e4e4;
$grey: #696969;
$lightGreen: #a7a7a7;
$darkGreen: #064e5e;
$turquoise: #085060;
$wlGreen: #004F60;
